.App {
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp5805427.gif");
  height: 100vh;
  background-size: cover;
  color: #86e9ed;
  background-position: center;
}

h1 {
  font-family: "Trade Winds", cursive;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
}
